openapi: 3.0.3
info:
  title: 'ToggleBox: Remote Config & Feature Flags API'
  description: |
    **ToggleBox** is a multi-platform remote configuration and feature flag management service.

    ## Key Features

    - **Remote Configuration**: Version-controlled, immutable config management
    - **Feature Flags**: Flexible toggles with percentage and targeted rollouts
    - **Multi-Platform**: Separate configs for web, mobile, and other platforms
    - **Environment Management**: Staging, production, and custom environments
    - **CDN Caching**: CloudFront-backed caching with cache invalidation
    - **Client SDKs**: JavaScript, Next.js, and Expo/React Native

    ## API Structure

    ### Public Endpoints (Read-Only)
    - **Path**: `/api/v1/platforms/*`
    - **Access**: Publicly accessible, no authentication
    - **Methods**: GET only
    - **Caching**: CloudFront CDN with configurable TTL

    ### Authentication Endpoints
    - **Paths**: `/api/v1/auth/*`, `/api/v1/users/*`, `/api/v1/api-keys/*`
    - **Access**: Public for registration/login, authenticated for management
    - **Methods**: POST, GET, PATCH, DELETE

    ### Internal Endpoints (Write Operations)
    - **Path**: `/api/v1/internal/*`
    - **Access**: Network-restricted or authenticated
    - **Methods**: POST, PUT, PATCH, DELETE
    - **Security**: JWT Bearer tokens or API Keys required

    ## Authentication

    **JWT Bearer Tokens** (user accounts):
    - Register: POST `/api/v1/auth/register`
    - Login: POST `/api/v1/auth/login`
    - Header: `Authorization: Bearer <token>`

    **API Keys** (programmatic access):
    - Create: POST `/api/v1/api-keys` (requires JWT)
    - Header: `X-API-Key: <key>`

    ### Roles & Permissions
    - **admin**: Full access (config + cache + user management)
    - **developer**: Config management and cache invalidation
    - **viewer**: Read-only access

    ## Rate Limiting
    - **Standard endpoints**: 100 requests/minute per IP
    - **Evaluation endpoints**: 200 requests/minute per IP

    ## Database Support

    Multiple database backends supported:
    - DynamoDB (AWS Lambda)
    - Cloudflare D1 (Cloudflare Workers)
    - MySQL / PostgreSQL (self-hosted or RDS)
    - MongoDB (self-hosted or Atlas)
    - SQLite (local development)

    ## Deployment Options

    - AWS Lambda + API Gateway
    - Cloudflare Workers
    - Netlify Functions
    - Docker / Self-hosted

  version: 1.0.0
  contact:
    name: ToggleBox Support
    url: https://github.com/your-org/togglebox
    email: support@togglebox.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.togglebox.io/api/v1
    description: Production server
  - url: http://localhost:3000/api/v1
    description: Local development server

tags:
  - name: Health
    description: Service health and status
  - name: Authentication
    description: User authentication and authorization
  - name: Users
    description: User profile and account management
  - name: API Keys
    description: API key generation and management
  - name: Platforms
    description: Platform management
  - name: Environments
    description: Environment management
  - name: Config Versions
    description: Versioned configuration management (immutable)
  - name: Feature Flags
    description: Feature flag management (mutable toggles)
  - name: Evaluation
    description: Feature flag evaluation with context
  - name: Cache
    description: Cache invalidation
  - name: Webhooks
    description: CI/CD webhook integration

paths:
  # ============================================================================
  # HEALTH CHECK
  # ============================================================================

  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: Returns service status, uptime, and timestamp
      operationId: getHealth
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
                  uptime:
                    type: number
                    description: Process uptime in seconds

  # ============================================================================
  # AUTHENTICATION
  # ============================================================================

  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register new user
      description: Create a new user account with email and password
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  minLength: 5
                  maxLength: 255
                password:
                  type: string
                  minLength: 8
                  maxLength: 128
                  description: Must contain uppercase, lowercase, and number
                role:
                  type: string
                  enum: [admin, developer, viewer]
                  default: viewer
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/PublicUser'
                      token:
                        type: string
                        description: JWT access token
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login user
      description: Authenticate with email and password to receive JWT token
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/PublicUser'
                      token:
                        type: string
                        description: JWT access token
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh JWT token
      description: Refresh an expired or expiring JWT token
      operationId: refreshToken
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        description: New JWT access token
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/password-reset/request:
    post:
      tags:
        - Authentication
      summary: Request password reset
      description: Send password reset email to user
      operationId: requestPasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Reset email sent (always returns success for security)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/password-reset/verify:
    post:
      tags:
        - Authentication
      summary: Verify password reset token
      description: Check if a password reset token is valid
      operationId: verifyPasswordResetToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  minLength: 32
                  maxLength: 256
      responses:
        '200':
          description: Token is valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      valid:
                        type: boolean
                      email:
                        type: string
                        format: email
                  timestamp:
                    type: string
                    format: date-time
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/password-reset/complete:
    post:
      tags:
        - Authentication
      summary: Complete password reset
      description: Reset password using valid token
      operationId: completePasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - newPassword
              properties:
                token:
                  type: string
                  minLength: 32
                  maxLength: 256
                newPassword:
                  type: string
                  minLength: 8
                  maxLength: 128
                  description: Must contain uppercase, lowercase, and number
      responses:
        '200':
          description: Password reset successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ============================================================================
  # USER MANAGEMENT
  # ============================================================================

  /users/me:
    get:
      tags:
        - Users
      summary: Get current user profile
      description: Retrieve the authenticated user's profile
      operationId: getCurrentUser
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PublicUser'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'

    patch:
      tags:
        - Users
      summary: Update current user profile
      description: Update the authenticated user's profile
      operationId: updateCurrentUser
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum: [admin, developer, viewer]
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PublicUser'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /users/me/password:
    post:
      tags:
        - Users
      summary: Change password
      description: Change the authenticated user's password
      operationId: changePassword
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currentPassword
                - newPassword
              properties:
                currentPassword:
                  type: string
                newPassword:
                  type: string
                  minLength: 8
                  maxLength: 128
                  description: Must contain uppercase, lowercase, and number
      responses:
        '200':
          description: Password changed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
        '400':
          description: Current password is incorrect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /users:
    get:
      tags:
        - Users
      summary: List all users
      description: List all users (admin only)
      operationId: listUsers
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicUser'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /users/{id}:
    get:
      tags:
        - Users
      summary: Get user by ID
      description: Get a specific user's details (admin only)
      operationId: getUserById
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PublicUser'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Users
      summary: Delete user
      description: Delete a user account (admin only)
      operationId: deleteUser
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: User deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # API KEY MANAGEMENT
  # ============================================================================

  /api-keys:
    get:
      tags:
        - API Keys
      summary: List user's API keys
      description: List all API keys owned by the authenticated user
      operationId: listApiKeys
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicApiKey'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - API Keys
      summary: Create new API key
      description: Generate a new API key for programmatic access. The plain text key is only returned once.
      operationId: createApiKey
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - permissions
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  description: Human-readable name
                permissions:
                  type: array
                  minItems: 1
                  maxItems: 50
                  items:
                    type: string
                  description: Permissions granted to this key
                expiresAt:
                  type: string
                  format: date-time
                  nullable: true
                  description: Optional expiration date
      responses:
        '201':
          description: API key created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ApiKeyWithPlaintext'
                  message:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /api-keys/{id}:
    get:
      tags:
        - API Keys
      summary: Get API key by ID
      description: Get details of a specific API key
      operationId: getApiKey
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API key details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PublicApiKey'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - API Keys
      summary: Revoke API key
      description: Permanently revoke an API key
      operationId: revokeApiKey
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: API key revoked successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # PLATFORMS (Public Read)
  # ============================================================================

  /platforms:
    get:
      tags:
        - Platforms
      summary: List all platforms
      description: Retrieve all registered platforms
      operationId: listPlatforms
      responses:
        '200':
          description: List of platforms
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Platform'
                  timestamp:
                    type: string
                    format: date-time

  /platforms/{name}:
    get:
      tags:
        - Platforms
      summary: Get platform by name
      description: Retrieve details of a specific platform
      operationId: getPlatform
      parameters:
        - $ref: '#/components/parameters/PlatformName'
      responses:
        '200':
          description: Platform details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Platform'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # PLATFORMS (Internal Write)
  # ============================================================================

  /internal/platforms:
    post:
      tags:
        - Platforms
      summary: Create new platform
      description: Register a new platform in the system
      operationId: createPlatform
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Unique platform identifier
                description:
                  type: string
      responses:
        '201':
          description: Platform created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Platform'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  # ============================================================================
  # ENVIRONMENTS (Public Read)
  # ============================================================================

  /platforms/{platform}/environments:
    get:
      tags:
        - Environments
      summary: List environments
      description: Retrieve all environments within a platform
      operationId: listEnvironments
      parameters:
        - $ref: '#/components/parameters/Platform'
      responses:
        '200':
          description: List of environments
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Environment'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  /platforms/{platform}/environments/{environment}:
    get:
      tags:
        - Environments
      summary: Get specific environment
      description: Retrieve details of a specific environment
      operationId: getEnvironment
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      responses:
        '200':
          description: Environment details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Environment'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # ENVIRONMENTS (Internal Write)
  # ============================================================================

  /internal/platforms/{platform}/environments:
    post:
      tags:
        - Environments
      summary: Create new environment
      description: Create a new environment within a platform
      operationId: createEnvironment
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - environment
              properties:
                environment:
                  type: string
                  description: Environment name
                description:
                  type: string
      responses:
        '201':
          description: Environment created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Environment'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  # ============================================================================
  # CONFIG VERSIONS (Public Read)
  # ============================================================================

  /platforms/{platform}/environments/{environment}/versions:
    get:
      tags:
        - Config Versions
      summary: List all configuration versions
      description: Retrieve all configuration versions for an environment
      operationId: listVersions
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      responses:
        '200':
          description: List of configuration versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Version'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  /platforms/{platform}/environments/{environment}/versions/{versionTimestamp}:
    get:
      tags:
        - Config Versions
      summary: Get specific configuration version
      description: Retrieve a specific configuration version by timestamp
      operationId: getVersion
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/VersionTimestamp'
      responses:
        '200':
          description: Configuration version details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Version'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  /platforms/{platform}/environments/{environment}/versions/latest/stable:
    get:
      tags:
        - Config Versions
      summary: Get latest stable configuration
      description: Retrieve the latest stable (production-ready) configuration version. Primary endpoint for client SDKs.
      operationId: getLatestStableVersion
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      responses:
        '200':
          description: Latest stable configuration
          headers:
            Cache-Control:
              schema:
                type: string
              description: CDN caching headers
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Version'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # CONFIG VERSIONS (Internal Write)
  # ============================================================================

  /internal/platforms/{platform}/environments/{environment}/versions:
    post:
      tags:
        - Config Versions
      summary: Create new configuration version
      description: Deploy a new immutable configuration version. Version timestamps are auto-generated.
      operationId: createVersion
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - config
                - createdBy
              properties:
                versionLabel:
                  type: string
                  description: Optional user-friendly version label
                isStable:
                  type: boolean
                  default: false
                  description: Mark as production-ready
                config:
                  $ref: '#/components/schemas/Config'
                createdBy:
                  type: string
                  format: email
      responses:
        '201':
          description: Configuration version created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Version'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  /internal/platforms/{platform}/environments/{environment}/versions/{versionTimestamp}:
    delete:
      tags:
        - Config Versions
      summary: Delete configuration version
      description: Delete a specific configuration version. Cannot delete stable versions.
      operationId: deleteVersion
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/VersionTimestamp'
      responses:
        '204':
          description: Version deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Cannot delete stable version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ============================================================================
  # FEATURE FLAGS (Public Read)
  # ============================================================================

  /platforms/{platform}/environments/{environment}/feature-flags:
    get:
      tags:
        - Feature Flags
      summary: List all feature flags
      description: Retrieve all feature flags for an environment
      operationId: listFeatureFlags
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      responses:
        '200':
          description: List of feature flags
          headers:
            Cache-Control:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeatureFlag'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  /platforms/{platform}/environments/{environment}/feature-flags/{flagName}:
    get:
      tags:
        - Feature Flags
      summary: Get specific feature flag
      description: Retrieve details of a specific feature flag
      operationId: getFeatureFlag
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/FlagName'
      responses:
        '200':
          description: Feature flag details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/FeatureFlag'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # FEATURE FLAGS (Internal Write)
  # ============================================================================

  /internal/platforms/{platform}/environments/{environment}/feature-flags:
    post:
      tags:
        - Feature Flags
      summary: Create new feature flag
      description: Create a new feature flag within an environment
      operationId: createFeatureFlag
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFeatureFlag'
      responses:
        '201':
          description: Feature flag created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/FeatureFlag'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'

  /internal/platforms/{platform}/environments/{environment}/feature-flags/{flagName}:
    put:
      tags:
        - Feature Flags
      summary: Update feature flag
      description: Update a feature flag (full or partial update)
      operationId: updateFeatureFlag
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/FlagName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeatureFlag'
      responses:
        '200':
          description: Feature flag updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/FeatureFlag'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

    delete:
      tags:
        - Feature Flags
      summary: Delete feature flag
      description: Permanently delete a feature flag
      operationId: deleteFeatureFlag
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/FlagName'
      responses:
        '204':
          description: Feature flag deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/platforms/{platform}/environments/{environment}/feature-flags/{flagName}/toggle:
    patch:
      tags:
        - Feature Flags
      summary: Toggle feature flag
      description: Convenience endpoint to enable/disable a feature flag
      operationId: toggleFeatureFlag
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/FlagName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - enabled
              properties:
                enabled:
                  type: boolean
      responses:
        '200':
          description: Feature flag toggled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/FeatureFlag'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # FEATURE FLAG EVALUATION
  # ============================================================================

  /internal/platforms/{platform}/environments/{environment}/feature-flags/evaluate:
    post:
      tags:
        - Evaluation
      summary: Evaluate all feature flags
      description: Evaluate all feature flags for the given context (userId, country, language).
      operationId: evaluateAllFeatureFlags
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluationContext'
      responses:
        '200':
          description: Evaluation results for all flags
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/EvaluationResult'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/platforms/{platform}/environments/{environment}/feature-flags/{flagName}/evaluate:
    post:
      tags:
        - Evaluation
      summary: Evaluate single feature flag
      description: Evaluate a specific feature flag with the given context.
      operationId: evaluateSingleFeatureFlag
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/FlagName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluationContext'
      responses:
        '200':
          description: Evaluation result for the flag
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/EvaluationResult'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # CACHE INVALIDATION
  # ============================================================================

  /internal/cache/invalidate:
    post:
      tags:
        - Cache
      summary: Invalidate CloudFront cache
      description: Invalidate CDN cache with different granularity levels (global, platform, environment, or version).
      operationId: invalidateCache
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CacheInvalidation'
      responses:
        '200':
          description: Cache invalidation initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      invalidationId:
                        type: string
                      status:
                        type: string
                      paths:
                        type: array
                        items:
                          type: string
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ============================================================================
  # WEBHOOKS
  # ============================================================================

  /internal/webhook/cache/invalidate:
    get:
      tags:
        - Webhooks
      summary: Cache invalidation webhook (CI/CD)
      description: GET endpoint for cache invalidation to support CI/CD webhooks.
      operationId: webhookInvalidateCache
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: platform
          in: query
          schema:
            type: string
        - name: environment
          in: query
          schema:
            type: string
        - name: version
          in: query
          schema:
            type: string
        - name: global
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Cache invalidation initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      invalidationId:
                        type: string
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /internal/webhook/cache/invalidations/{invalidationId}:
    get:
      tags:
        - Webhooks
      summary: Get invalidation status
      description: Check the status of a specific cache invalidation operation
      operationId: getInvalidationStatus
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: invalidationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invalidation status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        enum: [InProgress, Completed]
                      createTime:
                        type: string
                        format: date-time
                      paths:
                        type: array
                        items:
                          type: string
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/webhook/cache/invalidations:
    get:
      tags:
        - Webhooks
      summary: List all invalidations
      description: List all recent cache invalidation operations
      operationId: listInvalidations
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: List of cache invalidations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        status:
                          type: string
                          enum: [InProgress, Completed]
                        createTime:
                          type: string
                          format: date-time
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'

# ==============================================================================
# COMPONENTS
# ==============================================================================

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token authentication
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API Key authentication

  parameters:
    Platform:
      name: platform
      in: path
      required: true
      schema:
        type: string
      description: Platform identifier

    PlatformName:
      name: name
      in: path
      required: true
      schema:
        type: string
      description: Platform name

    Environment:
      name: environment
      in: path
      required: true
      schema:
        type: string
      description: Environment name

    VersionTimestamp:
      name: versionTimestamp
      in: path
      required: true
      schema:
        type: string
        format: date-time
      description: ISO-8601 timestamp identifying the version

    FlagName:
      name: flagName
      in: path
      required: true
      schema:
        type: string
      description: Feature flag name

  schemas:
    PublicUser:
      type: object
      required:
        - id
        - email
        - role
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, developer, viewer]
          description: |
            admin: Full access (config + cache + user management)
            developer: Config management and cache invalidation
            viewer: Read-only access
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PublicApiKey:
      type: object
      required:
        - id
        - name
        - keyPrefix
        - keyLast4
        - permissions
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Human-readable name
        keyPrefix:
          type: string
          description: First 8 characters for display
        keyLast4:
          type: string
          description: Last 4 characters for identification
        permissions:
          type: array
          items:
            type: string
          description: Permissions granted to this key
        expiresAt:
          type: string
          format: date-time
          nullable: true
        lastUsedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    ApiKeyWithPlaintext:
      allOf:
        - $ref: '#/components/schemas/PublicApiKey'
        - type: object
          required:
            - key
          properties:
            key:
              type: string
              description: Plain text API key - only shown once at creation

    Platform:
      type: object
      required:
        - id
        - name
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time

    Environment:
      type: object
      required:
        - platform
        - environment
        - createdAt
      properties:
        platform:
          type: string
        environment:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time

    Config:
      type: object
      description: Arbitrary JSON configuration object. Maximum size 300KB.
      additionalProperties: true

    Version:
      type: object
      required:
        - platform
        - environment
        - versionTimestamp
        - isStable
        - config
        - createdBy
        - createdAt
      properties:
        platform:
          type: string
        environment:
          type: string
        versionTimestamp:
          type: string
          format: date-time
          description: Auto-generated ISO-8601 timestamp
        versionLabel:
          type: string
          description: Optional user-friendly label
        isStable:
          type: boolean
          default: false
          description: Production-ready flag
        config:
          $ref: '#/components/schemas/Config'
        createdBy:
          type: string
          format: email
        createdAt:
          type: string
          format: date-time

    FeatureFlag:
      type: object
      required:
        - platform
        - environment
        - flagName
        - enabled
        - createdBy
        - createdAt
      properties:
        platform:
          type: string
        environment:
          type: string
        flagName:
          type: string
        enabled:
          type: boolean
          default: false
        description:
          type: string
        createdBy:
          type: string
          format: email
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        rolloutType:
          type: string
          enum: [simple, percentage, targeted]
          default: simple
          description: |
            simple: Basic on/off toggle
            percentage: Gradual rollout (0-100%)
            targeted: Specific user targeting
        rolloutPercentage:
          type: number
          minimum: 0
          maximum: 100
          description: Percentage of users (percentage rollout only)
        targetUserIds:
          type: array
          items:
            type: string
          description: Force-in list
        excludeUserIds:
          type: array
          items:
            type: string
          description: Force-out list
        targetCountries:
          type: array
          items:
            type: string
          description: Country filter (ISO 3166-1 alpha-2)
        targetLanguages:
          type: array
          items:
            type: string
          description: Language filter (ISO 639-1)

    CreateFeatureFlag:
      type: object
      required:
        - platform
        - environment
        - flagName
        - createdBy
      properties:
        platform:
          type: string
        environment:
          type: string
        flagName:
          type: string
        enabled:
          type: boolean
          default: false
        description:
          type: string
        createdBy:
          type: string
          format: email
        rolloutType:
          type: string
          enum: [simple, percentage, targeted]
          default: simple
        rolloutPercentage:
          type: number
          minimum: 0
          maximum: 100
        targetUserIds:
          type: array
          items:
            type: string
        excludeUserIds:
          type: array
          items:
            type: string
        targetCountries:
          type: array
          items:
            type: string
        targetLanguages:
          type: array
          items:
            type: string

    UpdateFeatureFlag:
      type: object
      description: All fields optional for partial updates
      properties:
        enabled:
          type: boolean
        description:
          type: string
        rolloutType:
          type: string
          enum: [simple, percentage, targeted]
        rolloutPercentage:
          type: number
          minimum: 0
          maximum: 100
        targetUserIds:
          type: array
          items:
            type: string
        excludeUserIds:
          type: array
          items:
            type: string
        targetCountries:
          type: array
          items:
            type: string
        targetLanguages:
          type: array
          items:
            type: string

    EvaluationContext:
      type: object
      description: Context for evaluating feature flags. All fields optional but may be required based on flag configuration.
      properties:
        userId:
          type: string
          description: Required for percentage/targeted rollouts
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code
        language:
          type: string
          description: ISO 639-1 language code

    EvaluationResult:
      type: object
      required:
        - enabled
      properties:
        enabled:
          type: boolean
          description: Whether the flag is enabled for this context
        reason:
          type: string
          description: Human-readable explanation
        flagName:
          type: string
          description: Flag name (in batch evaluations)

    CacheInvalidation:
      type: object
      description: Cache invalidation request with different granularity levels.
      properties:
        platform:
          type: string
          description: Invalidate all caches for this platform
        environment:
          type: string
          description: Invalidate all caches for this environment (requires platform)
        version:
          type: string
          format: date-time
          description: Invalidate specific version (requires platform + environment)
        global:
          type: boolean
          description: Invalidate all caches globally

    ErrorResponse:
      type: object
      required:
        - success
        - error
        - timestamp
      properties:
        success:
          type: boolean
        error:
          type: string
        timestamp:
          type: string
          format: date-time
        details:
          type: array
          items:
            type: string

  responses:
    BadRequest:
      description: Bad request - Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Unauthorized - Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Not found - Resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Conflict:
      description: Conflict - Resource already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ValidationError:
      description: Validation error - Invalid data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
