openapi: 3.0.3
info:
  title: 'ToggleBox: Remote Config & Feature Flags API'
  description: |
    **ToggleBox** is a multi-platform remote configuration and feature flag management service.

    ## Key Features

    - **Remote Configuration**: Version-controlled, immutable config management
    - **Feature Flags**: Flexible toggles with percentage and targeted rollouts
    - **Multi-Platform**: Separate configs for web, mobile, and other platforms
    - **Environment Management**: Staging, production, and custom environments
    - **CDN Caching**: CloudFront-backed caching with cache invalidation
    - **Client SDKs**: JavaScript, Next.js, and Expo/React Native

    ## API Structure

    ### Public Endpoints (Read-Only)
    - **Path**: `/api/v1/platforms/*`
    - **Access**: Publicly accessible, no authentication
    - **Methods**: GET only
    - **Caching**: CloudFront CDN with configurable TTL

    ### Authentication Endpoints
    - **Paths**: `/api/v1/auth/*`, `/api/v1/users/*`, `/api/v1/api-keys/*`
    - **Access**: Public for registration/login, authenticated for management
    - **Methods**: POST, GET, PATCH, DELETE

    ### Internal Endpoints (Write Operations)
    - **Path**: `/api/v1/internal/*`
    - **Access**: Network-restricted or authenticated
    - **Methods**: POST, PUT, PATCH, DELETE
    - **Security**: JWT Bearer tokens or API Keys required

    ## Authentication

    **JWT Bearer Tokens** (user accounts):
    - Register: POST `/api/v1/auth/register`
    - Login: POST `/api/v1/auth/login`
    - Header: `Authorization: Bearer <token>`

    **API Keys** (programmatic access):
    - Create: POST `/api/v1/api-keys` (requires JWT)
    - Header: `X-API-Key: <key>`

    ### Roles & Permissions
    - **admin**: Full access (config + cache + user management)
    - **developer**: Config management and cache invalidation
    - **viewer**: Read-only access

    ## Rate Limiting
    - **Standard endpoints**: 100 requests/minute per IP
    - **Evaluation endpoints**: 200 requests/minute per IP

    ## Database Support

    Multiple database backends supported:
    - DynamoDB (AWS Lambda)
    - Cloudflare D1 (Cloudflare Workers)
    - MySQL / PostgreSQL (self-hosted or RDS)
    - MongoDB (self-hosted or Atlas)
    - SQLite (local development)

    ## Deployment Options

    - AWS Lambda + API Gateway
    - Cloudflare Workers
    - Netlify Functions
    - Docker / Self-hosted

  version: 1.0.0
  contact:
    name: ToggleBox Support
    url: https://github.com/your-org/togglebox
    email: support@togglebox.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.togglebox.io/api/v1
    description: Production server
  - url: http://localhost:3000/api/v1
    description: Local development server

tags:
  - name: Health
    description: Service health and status
  - name: Authentication
    description: User authentication and authorization
  - name: Users
    description: User profile and account management
  - name: API Keys
    description: API key generation and management
  - name: Platforms
    description: Platform management
  - name: Environments
    description: Environment management
  - name: Config Versions
    description: Versioned configuration management (immutable)
  - name: Feature Flags
    description: Feature flag management with 2-value model (A/B) and geographic targeting
  - name: Experiments
    description: Multi-variant A/B/n experiments with statistical analysis
  - name: Stats
    description: Analytics and statistics for configs, flags, and experiments
  - name: Evaluation
    description: Feature flag evaluation with context
  - name: Cache
    description: Cache invalidation
  - name: Webhooks
    description: CI/CD webhook integration

paths:
  # ============================================================================
  # HEALTH CHECK
  # ============================================================================

  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: Returns service status, uptime, and timestamp
      operationId: getHealth
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
                  uptime:
                    type: number
                    description: Process uptime in seconds

  # ============================================================================
  # AUTHENTICATION
  # ============================================================================

  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register new user
      description: Create a new user account with email and password
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  minLength: 5
                  maxLength: 255
                password:
                  type: string
                  minLength: 8
                  maxLength: 128
                  description: Must contain uppercase, lowercase, and number
                role:
                  type: string
                  enum: [admin, developer, viewer]
                  default: viewer
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/PublicUser'
                      token:
                        type: string
                        description: JWT access token
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login user
      description: Authenticate with email and password to receive JWT token
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/PublicUser'
                      token:
                        type: string
                        description: JWT access token
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh JWT token
      description: Refresh an expired or expiring JWT token
      operationId: refreshToken
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        description: New JWT access token
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/password-reset/request:
    post:
      tags:
        - Authentication
      summary: Request password reset
      description: Send password reset email to user
      operationId: requestPasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Reset email sent (always returns success for security)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/password-reset/verify:
    post:
      tags:
        - Authentication
      summary: Verify password reset token
      description: Check if a password reset token is valid
      operationId: verifyPasswordResetToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  minLength: 32
                  maxLength: 256
      responses:
        '200':
          description: Token is valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      valid:
                        type: boolean
                      email:
                        type: string
                        format: email
                  timestamp:
                    type: string
                    format: date-time
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/password-reset/complete:
    post:
      tags:
        - Authentication
      summary: Complete password reset
      description: Reset password using valid token
      operationId: completePasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - newPassword
              properties:
                token:
                  type: string
                  minLength: 32
                  maxLength: 256
                newPassword:
                  type: string
                  minLength: 8
                  maxLength: 128
                  description: Must contain uppercase, lowercase, and number
      responses:
        '200':
          description: Password reset successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ============================================================================
  # USER MANAGEMENT
  # ============================================================================

  /users/me:
    get:
      tags:
        - Users
      summary: Get current user profile
      description: Retrieve the authenticated user's profile
      operationId: getCurrentUser
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PublicUser'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'

    patch:
      tags:
        - Users
      summary: Update current user profile
      description: Update the authenticated user's profile
      operationId: updateCurrentUser
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum: [admin, developer, viewer]
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PublicUser'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /users/me/password:
    post:
      tags:
        - Users
      summary: Change password
      description: Change the authenticated user's password
      operationId: changePassword
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currentPassword
                - newPassword
              properties:
                currentPassword:
                  type: string
                newPassword:
                  type: string
                  minLength: 8
                  maxLength: 128
                  description: Must contain uppercase, lowercase, and number
      responses:
        '200':
          description: Password changed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
        '400':
          description: Current password is incorrect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /users:
    get:
      tags:
        - Users
      summary: List all users
      description: List all users (admin only)
      operationId: listUsers
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicUser'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /users/{id}:
    get:
      tags:
        - Users
      summary: Get user by ID
      description: Get a specific user's details (admin only)
      operationId: getUserById
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PublicUser'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Users
      summary: Delete user
      description: Delete a user account (admin only)
      operationId: deleteUser
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: User deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # API KEY MANAGEMENT
  # ============================================================================

  /api-keys:
    get:
      tags:
        - API Keys
      summary: List user's API keys
      description: List all API keys owned by the authenticated user
      operationId: listApiKeys
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicApiKey'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - API Keys
      summary: Create new API key
      description: Generate a new API key for programmatic access. The plain text key is only returned once.
      operationId: createApiKey
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - permissions
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  description: Human-readable name
                permissions:
                  type: array
                  minItems: 1
                  maxItems: 50
                  items:
                    type: string
                  description: Permissions granted to this key
                expiresAt:
                  type: string
                  format: date-time
                  nullable: true
                  description: Optional expiration date
      responses:
        '201':
          description: API key created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ApiKeyWithPlaintext'
                  message:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /api-keys/{id}:
    get:
      tags:
        - API Keys
      summary: Get API key by ID
      description: Get details of a specific API key
      operationId: getApiKey
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API key details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/PublicApiKey'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - API Keys
      summary: Revoke API key
      description: Permanently revoke an API key
      operationId: revokeApiKey
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: API key revoked successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # PLATFORMS (Public Read)
  # ============================================================================

  /platforms:
    get:
      tags:
        - Platforms
      summary: List all platforms
      description: Retrieve all registered platforms
      operationId: listPlatforms
      responses:
        '200':
          description: List of platforms
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Platform'
                  timestamp:
                    type: string
                    format: date-time

  /platforms/{name}:
    get:
      tags:
        - Platforms
      summary: Get platform by name
      description: Retrieve details of a specific platform
      operationId: getPlatform
      parameters:
        - $ref: '#/components/parameters/PlatformName'
      responses:
        '200':
          description: Platform details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Platform'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # PLATFORMS (Internal Write)
  # ============================================================================

  /internal/platforms:
    post:
      tags:
        - Platforms
      summary: Create new platform
      description: Register a new platform in the system
      operationId: createPlatform
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Unique platform identifier
                description:
                  type: string
      responses:
        '201':
          description: Platform created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Platform'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /internal/platforms/{platform}:
    delete:
      tags:
        - Platforms
      summary: Delete platform
      description: Delete a platform and all its environments, versions, and flags
      operationId: deletePlatform
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
      responses:
        '204':
          description: Platform deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # ENVIRONMENTS (Public Read)
  # ============================================================================

  /platforms/{platform}/environments:
    get:
      tags:
        - Environments
      summary: List environments
      description: Retrieve all environments within a platform
      operationId: listEnvironments
      parameters:
        - $ref: '#/components/parameters/Platform'
      responses:
        '200':
          description: List of environments
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Environment'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  /platforms/{platform}/environments/{environment}:
    get:
      tags:
        - Environments
      summary: Get specific environment
      description: Retrieve details of a specific environment
      operationId: getEnvironment
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      responses:
        '200':
          description: Environment details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Environment'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # ENVIRONMENTS (Internal Write)
  # ============================================================================

  /internal/platforms/{platform}/environments:
    post:
      tags:
        - Environments
      summary: Create new environment
      description: Create a new environment within a platform
      operationId: createEnvironment
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - environment
              properties:
                environment:
                  type: string
                  description: Environment name
                description:
                  type: string
      responses:
        '201':
          description: Environment created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Environment'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /internal/platforms/{platform}/environments/{environment}:
    delete:
      tags:
        - Environments
      summary: Delete environment
      description: Delete an environment and all its versions and flags
      operationId: deleteEnvironment
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      responses:
        '204':
          description: Environment deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # CONFIG VERSIONS (Public Read)
  # ============================================================================

  /platforms/{platform}/environments/{environment}/versions:
    get:
      tags:
        - Config Versions
      summary: List all configuration versions
      description: Retrieve all configuration versions for an environment
      operationId: listVersions
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      responses:
        '200':
          description: List of configuration versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Version'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  /platforms/{platform}/environments/{environment}/versions/{version}:
    get:
      tags:
        - Config Versions
      summary: Get specific configuration version
      description: Retrieve a specific configuration version by timestamp
      operationId: getVersion
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/Version'
      responses:
        '200':
          description: Configuration version details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Version'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  /platforms/{platform}/environments/{environment}/versions/latest/stable:
    get:
      tags:
        - Config Versions
      summary: Get latest stable configuration
      description: Retrieve the latest stable (production-ready) configuration version. Primary endpoint for client SDKs.
      operationId: getLatestStableVersion
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      responses:
        '200':
          description: Latest stable configuration
          headers:
            Cache-Control:
              schema:
                type: string
              description: CDN caching headers
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Version'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # CONFIG VERSIONS (Internal Write)
  # ============================================================================

  /internal/platforms/{platform}/environments/{environment}/versions:
    post:
      tags:
        - Config Versions
      summary: Create new configuration version
      description: Deploy a new immutable configuration version. Version timestamps are auto-generated.
      operationId: createVersion
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - version
                - config
              properties:
                version:
                  type: string
                  pattern: '^\d+\.\d+\.\d+$'
                  description: Semantic version label (e.g., "1.0.0", "2.1.3"). Required. This becomes the versionLabel internally.
                isStable:
                  type: boolean
                  default: false
                  description: Mark as production-ready
                config:
                  $ref: '#/components/schemas/Config'
                createdBy:
                  type: string
                  format: email
                  description: Optional - extracted from auth context if not provided
      responses:
        '201':
          description: Configuration version created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Version'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  /internal/platforms/{platform}/environments/{environment}/versions/{version}:
    delete:
      tags:
        - Config Versions
      summary: Delete configuration version
      description: Delete a specific configuration version. Cannot delete stable versions.
      operationId: deleteVersion
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/Version'
      responses:
        '204':
          description: Version deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Cannot delete stable version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /internal/platforms/{platform}/environments/{environment}/versions/{version}/mark-stable:
    patch:
      tags:
        - Config Versions
      summary: Mark version as stable
      description: Mark a configuration version as stable (production-ready). Only one version can be stable at a time per environment.
      operationId: markVersionStable
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/Version'
      responses:
        '200':
          description: Version marked as stable successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Version'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # FEATURE FLAGS (Public Read)
  # ============================================================================

  /platforms/{platform}/environments/{environment}/flags:
    get:
      tags:
        - Feature Flags
      summary: List all feature flags
      description: Retrieve all feature flags for an environment
      operationId: listFeatureFlags
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      responses:
        '200':
          description: List of feature flags
          headers:
            Cache-Control:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeatureFlag'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  /platforms/{platform}/environments/{environment}/flags/{flagKey}:
    get:
      tags:
        - Feature Flags
      summary: Get specific feature flag
      description: Retrieve details of a specific feature flag
      operationId: getFeatureFlag
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/FlagKey'
      responses:
        '200':
          description: Feature flag details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/FeatureFlag'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  /platforms/{platform}/environments/{environment}/flags/{flagKey}/evaluate:
    get:
      tags:
        - Evaluation
      summary: Evaluate feature flag (public)
      description: |
        Evaluate a feature flag for a given context. This is a public endpoint for SDK usage.
        Returns the resolved value based on targeting rules.
      operationId: evaluateFlagPublic
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/FlagKey'
        - name: userId
          in: query
          schema:
            type: string
          description: User identifier for targeting
        - name: country
          in: query
          schema:
            type: string
            minLength: 2
            maxLength: 2
          description: ISO 3166-1 alpha-2 country code
        - name: language
          in: query
          schema:
            type: string
            minLength: 2
            maxLength: 2
          description: ISO 639-1 language code
      responses:
        '200':
          description: Flag evaluation result
          headers:
            Cache-Control:
              schema:
                type: string
              description: CDN caching headers
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/EvaluationResult'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # FEATURE FLAGS (Internal Write)
  # ============================================================================

  /internal/platforms/{platform}/environments/{environment}/flags:
    post:
      tags:
        - Feature Flags
      summary: Create new feature flag
      description: Create a new feature flag within an environment
      operationId: createFeatureFlag
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFeatureFlag'
      responses:
        '201':
          description: Feature flag created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/FeatureFlag'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'

  /internal/platforms/{platform}/environments/{environment}/flags/{flagKey}:
    put:
      tags:
        - Feature Flags
      summary: Update feature flag
      description: Update a feature flag (full or partial update)
      operationId: updateFeatureFlag
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/FlagKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeatureFlag'
      responses:
        '200':
          description: Feature flag updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/FeatureFlag'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

    delete:
      tags:
        - Feature Flags
      summary: Delete feature flag
      description: Permanently delete a feature flag
      operationId: deleteFeatureFlag
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/FlagKey'
      responses:
        '204':
          description: Feature flag deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/platforms/{platform}/environments/{environment}/flags/{flagKey}/toggle:
    patch:
      tags:
        - Feature Flags
      summary: Toggle feature flag
      description: Convenience endpoint to enable/disable a feature flag
      operationId: toggleFeatureFlag
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/FlagKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - enabled
              properties:
                enabled:
                  type: boolean
      responses:
        '200':
          description: Feature flag toggled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/FeatureFlag'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/platforms/{platform}/environments/{environment}/flags/{flagKey}/versions:
    get:
      tags:
        - Feature Flags
      summary: List flag versions
      description: Retrieve all versions of a specific feature flag
      operationId: listFlagVersions
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/FlagKey'
      responses:
        '200':
          description: List of flag versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeatureFlag'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/platforms/{platform}/environments/{environment}/flags/{flagKey}/versions/{version}:
    get:
      tags:
        - Feature Flags
      summary: Get specific flag version
      description: Retrieve a specific version of a feature flag
      operationId: getFlagVersion
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/FlagKey'
        - name: version
          in: path
          required: true
          schema:
            type: string
          description: Flag version number
      responses:
        '200':
          description: Flag version details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/FeatureFlag'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # FEATURE FLAG EVALUATION
  # ============================================================================

  /internal/platforms/{platform}/environments/{environment}/flags/evaluate:
    post:
      tags:
        - Evaluation
      summary: Evaluate all feature flags
      description: Evaluate all feature flags for the given context (userId, country, language).
      operationId: evaluateAllFeatureFlags
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluationContext'
      responses:
        '200':
          description: Evaluation results for all flags
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/EvaluationResult'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/platforms/{platform}/environments/{environment}/flags/{flagKey}/evaluate:
    post:
      tags:
        - Evaluation
      summary: Evaluate single feature flag
      description: Evaluate a specific feature flag with the given context.
      operationId: evaluateSingleFeatureFlag
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/FlagKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluationContext'
      responses:
        '200':
          description: Evaluation result for the flag
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/EvaluationResult'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # EXPERIMENTS (Public Read)
  # ============================================================================

  /platforms/{platform}/environments/{environment}/experiments:
    get:
      tags:
        - Experiments
      summary: List all experiments
      description: Retrieve all experiments for an environment
      operationId: listExperiments
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      responses:
        '200':
          description: List of experiments
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Experiment'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  /platforms/{platform}/environments/{environment}/experiments/{experimentKey}:
    get:
      tags:
        - Experiments
      summary: Get specific experiment
      description: Retrieve details of a specific experiment
      operationId: getExperiment
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/ExperimentKey'
      responses:
        '200':
          description: Experiment details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Experiment'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  /platforms/{platform}/environments/{environment}/experiments/{experimentKey}/assign:
    get:
      tags:
        - Experiments
      summary: Assign user to experiment variation (Public)
      description: Get variation assignment for a user. Returns consistent assignment based on userId.
      operationId: assignVariationPublic
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/ExperimentKey'
        - name: userId
          in: query
          required: true
          schema:
            type: string
          description: User identifier for consistent bucketing
      responses:
        '200':
          description: Variation assignment
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/VariationAssignment'
                  timestamp:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # EXPERIMENTS (Internal Write)
  # ============================================================================

  /internal/platforms/{platform}/environments/{environment}/experiments:
    post:
      tags:
        - Experiments
      summary: Create new experiment
      description: Create a new A/B/n experiment
      operationId: createExperiment
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExperiment'
      responses:
        '201':
          description: Experiment created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Experiment'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /internal/platforms/{platform}/environments/{environment}/experiments/{experimentKey}:
    put:
      tags:
        - Experiments
      summary: Update experiment
      description: Update an experiment (only in draft status)
      operationId: updateExperiment
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/ExperimentKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExperiment'
      responses:
        '200':
          description: Experiment updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Experiment'
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Experiments
      summary: Delete experiment
      description: Delete an experiment (only in draft or archived status)
      operationId: deleteExperiment
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/ExperimentKey'
      responses:
        '204':
          description: Experiment deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Cannot delete running experiment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /internal/platforms/{platform}/environments/{environment}/experiments/{experimentKey}/start:
    post:
      tags:
        - Experiments
      summary: Start experiment
      description: Start an experiment (changes status from draft to running)
      operationId: startExperiment
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/ExperimentKey'
      responses:
        '200':
          description: Experiment started
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Experiment'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Experiment already running or completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /internal/platforms/{platform}/environments/{environment}/experiments/{experimentKey}/pause:
    post:
      tags:
        - Experiments
      summary: Pause experiment
      description: Pause a running experiment
      operationId: pauseExperiment
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/ExperimentKey'
      responses:
        '200':
          description: Experiment paused
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Experiment'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/platforms/{platform}/environments/{environment}/experiments/{experimentKey}/resume:
    post:
      tags:
        - Experiments
      summary: Resume experiment
      description: Resume a paused experiment
      operationId: resumeExperiment
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/ExperimentKey'
      responses:
        '200':
          description: Experiment resumed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Experiment'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/platforms/{platform}/environments/{environment}/experiments/{experimentKey}/complete:
    post:
      tags:
        - Experiments
      summary: Complete experiment
      description: Mark experiment as completed with a winning variation
      operationId: completeExperiment
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/ExperimentKey'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                winningVariationKey:
                  type: string
                  description: Key of the winning variation
      responses:
        '200':
          description: Experiment completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Experiment'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/platforms/{platform}/environments/{environment}/experiments/{experimentKey}/archive:
    post:
      tags:
        - Experiments
      summary: Archive experiment
      description: Archive a completed experiment
      operationId: archiveExperiment
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/ExperimentKey'
      responses:
        '200':
          description: Experiment archived
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Experiment'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/platforms/{platform}/environments/{environment}/experiments/{experimentKey}/assign:
    post:
      tags:
        - Experiments
      summary: Assign user to experiment variation (Internal)
      description: Get variation assignment with full context support
      operationId: assignVariationInternal
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/ExperimentKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluationContext'
      responses:
        '200':
          description: Variation assignment
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/VariationAssignment'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/platforms/{platform}/environments/{environment}/experiments/{experimentKey}/results:
    get:
      tags:
        - Experiments
      summary: Get experiment results
      description: Get statistical analysis and results for an experiment
      operationId: getExperimentResults
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/ExperimentKey'
      responses:
        '200':
          description: Experiment results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ExperimentResults'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # STATS
  # ============================================================================

  /platforms/{platform}/environments/{environment}/stats/events:
    post:
      tags:
        - Stats
      summary: Batch event ingestion
      description: Submit batch of analytics events from SDK
      operationId: processBatchEvents
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchEvents'
      responses:
        '200':
          description: Events processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      processed:
                        type: integer
                      failed:
                        type: integer
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'

  /internal/platforms/{platform}/environments/{environment}/configs/{configKey}/stats:
    get:
      tags:
        - Stats
      summary: Get config statistics
      description: Get usage statistics for a configuration
      operationId: getConfigStats
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - name: configKey
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Config statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ConfigStats'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/platforms/{platform}/environments/{environment}/flags/{flagKey}/stats:
    get:
      tags:
        - Stats
      summary: Get flag statistics
      description: Get usage statistics for a feature flag
      operationId: getFlagStats
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/FlagKey'
      responses:
        '200':
          description: Flag statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/FlagStats'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/platforms/{platform}/environments/{environment}/flags/{flagKey}/stats/by-country:
    get:
      tags:
        - Stats
      summary: Get flag statistics by country
      description: Get usage statistics for a feature flag grouped by country
      operationId: getFlagStatsByCountry
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/FlagKey'
      responses:
        '200':
          description: Flag statistics by country
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CountryStats'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/platforms/{platform}/environments/{environment}/flags/{flagKey}/stats/daily:
    get:
      tags:
        - Stats
      summary: Get flag statistics daily time series
      description: Get daily usage statistics for a feature flag
      operationId: getFlagStatsDaily
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/FlagKey'
        - name: days
          in: query
          schema:
            type: integer
            default: 30
          description: Number of days to retrieve
      responses:
        '200':
          description: Daily flag statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DailyStats'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/platforms/{platform}/environments/{environment}/experiments/{experimentKey}/stats:
    get:
      tags:
        - Stats
      summary: Get experiment statistics
      description: Get usage statistics for an experiment
      operationId: getExperimentStats
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/ExperimentKey'
      responses:
        '200':
          description: Experiment statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ExperimentStats'
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/platforms/{platform}/environments/{environment}/experiments/{experimentKey}/conversions:
    post:
      tags:
        - Stats
      summary: Record experiment conversion
      description: Record a conversion event for an experiment
      operationId: recordConversion
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/ExperimentKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - metricKey
              properties:
                userId:
                  type: string
                metricKey:
                  type: string
                value:
                  type: number
                  description: Numeric value for revenue/count metrics
      responses:
        '200':
          description: Conversion recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================================
  # CACHE INVALIDATION
  # ============================================================================

  /internal/cache/invalidate:
    post:
      tags:
        - Cache
      summary: Invalidate CloudFront cache
      description: Invalidate CDN cache with different granularity levels (global, platform, environment, or version).
      operationId: invalidateCache
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CacheInvalidation'
      responses:
        '200':
          description: Cache invalidation initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      invalidationId:
                        type: string
                      status:
                        type: string
                      paths:
                        type: array
                        items:
                          type: string
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /internal/cache/invalidate-all:
    post:
      tags:
        - Cache
      summary: Invalidate all CDN caches
      description: Invalidate all CDN cache paths globally. Use with caution.
      operationId: invalidateCacheAll
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: Global cache invalidation initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      invalidationId:
                        type: string
                      status:
                        type: string
                      paths:
                        type: array
                        items:
                          type: string
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ============================================================================
  # WEBHOOKS
  # ============================================================================

  /internal/webhook/cache/invalidate:
    get:
      tags:
        - Webhooks
      summary: Cache invalidation webhook (CI/CD)
      description: GET endpoint for cache invalidation to support CI/CD webhooks.
      operationId: webhookInvalidateCache
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: platform
          in: query
          schema:
            type: string
        - name: environment
          in: query
          schema:
            type: string
        - name: version
          in: query
          schema:
            type: string
        - name: global
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Cache invalidation initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      invalidationId:
                        type: string
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /internal/webhook/cache/invalidations/{invalidationId}:
    get:
      tags:
        - Webhooks
      summary: Get invalidation status
      description: Check the status of a specific cache invalidation operation
      operationId: getInvalidationStatus
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      parameters:
        - name: invalidationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invalidation status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        enum: [InProgress, Completed]
                      createTime:
                        type: string
                        format: date-time
                      paths:
                        type: array
                        items:
                          type: string
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /internal/webhook/cache/invalidations:
    get:
      tags:
        - Webhooks
      summary: List all invalidations
      description: List all recent cache invalidation operations
      operationId: listInvalidations
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        '200':
          description: List of cache invalidations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        status:
                          type: string
                          enum: [InProgress, Completed]
                        createTime:
                          type: string
                          format: date-time
                  timestamp:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'

# ==============================================================================
# COMPONENTS
# ==============================================================================

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token authentication
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API Key authentication

  parameters:
    Platform:
      name: platform
      in: path
      required: true
      schema:
        type: string
      description: Platform identifier

    PlatformName:
      name: name
      in: path
      required: true
      schema:
        type: string
      description: Platform name

    Environment:
      name: environment
      in: path
      required: true
      schema:
        type: string
      description: Environment name

    Version:
      name: version
      in: path
      required: true
      schema:
        type: string
      description: Version label (human-readable identifier, e.g., "v1.0.0", "1.2.3"). This is the versionLabel field, not the auto-generated versionTimestamp.

    FlagKey:
      name: flagKey
      in: path
      required: true
      schema:
        type: string
      description: Feature flag key identifier

    ExperimentKey:
      name: experimentKey
      in: path
      required: true
      schema:
        type: string
      description: Experiment key identifier

  schemas:
    PublicUser:
      type: object
      required:
        - id
        - email
        - role
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, developer, viewer]
          description: |
            admin: Full access (config + cache + user management)
            developer: Config management and cache invalidation
            viewer: Read-only access
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PublicApiKey:
      type: object
      required:
        - id
        - name
        - keyPrefix
        - keyLast4
        - permissions
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Human-readable name
        keyPrefix:
          type: string
          description: First 8 characters for display
        keyLast4:
          type: string
          description: Last 4 characters for identification
        permissions:
          type: array
          items:
            type: string
          description: Permissions granted to this key
        expiresAt:
          type: string
          format: date-time
          nullable: true
        lastUsedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    ApiKeyWithPlaintext:
      allOf:
        - $ref: '#/components/schemas/PublicApiKey'
        - type: object
          required:
            - key
          properties:
            key:
              type: string
              description: Plain text API key - only shown once at creation

    Platform:
      type: object
      required:
        - id
        - name
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time

    Environment:
      type: object
      required:
        - platform
        - environment
        - createdAt
      properties:
        platform:
          type: string
        environment:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time

    Config:
      type: object
      description: Arbitrary JSON configuration object. Maximum size 300KB.
      additionalProperties: true

    Version:
      type: object
      required:
        - platform
        - environment
        - versionTimestamp
        - versionLabel
        - isStable
        - config
        - createdBy
        - createdAt
      properties:
        platform:
          type: string
        environment:
          type: string
        versionTimestamp:
          type: string
          format: date-time
          description: Auto-generated ISO-8601 timestamp for ordering
        versionLabel:
          type: string
          pattern: '^\d+\.\d+\.\d+$'
          description: Semantic version label (e.g., "1.0.0"). This is the primary identifier used in URLs.
        isStable:
          type: boolean
          default: false
          description: Production-ready flag
        config:
          $ref: '#/components/schemas/Config'
        createdBy:
          type: string
          format: email
        createdAt:
          type: string
          format: date-time

    FeatureFlag:
      type: object
      description: |
        Feature Flag with 2-value model (valueA/valueB) and geographic targeting.
        For multi-variant testing (3+ variants), use Experiments instead.
      required:
        - platform
        - environment
        - flagKey
        - name
        - enabled
        - flagType
        - valueA
        - valueB
        - createdBy
        - createdAt
      properties:
        platform:
          type: string
        environment:
          type: string
        flagKey:
          type: string
          pattern: '^[a-z][a-z0-9-]*$'
          description: Unique identifier (lowercase, hyphenated, must start with letter)
        name:
          type: string
          description: Human-readable display name
        description:
          type: string
        enabled:
          type: boolean
          default: false
          description: Master switch - when false, always serves defaultValue
        flagType:
          type: string
          enum: [boolean, string, number]
          default: boolean
        valueA:
          oneOf:
            - type: boolean
            - type: string
            - type: number
          description: Primary value (served when conditions match)
        valueB:
          oneOf:
            - type: boolean
            - type: string
            - type: number
          description: Secondary value (fallback)
        targeting:
          $ref: '#/components/schemas/FlagTargeting'
        defaultValue:
          type: string
          enum: [A, B]
          default: B
          description: Value to serve when no targeting matches
        rolloutEnabled:
          type: boolean
          default: false
          description: Enable percentage-based rollout
        rolloutPercentageA:
          type: integer
          minimum: 0
          maximum: 100
          default: 100
          description: Percentage of users who receive valueA (0-100)
        rolloutPercentageB:
          type: integer
          minimum: 0
          maximum: 100
          default: 0
          description: Percentage of users who receive valueB (auto-calculated as 100 - rolloutPercentageA)
        version:
          type: string
          description: Semantic version string
        isActive:
          type: boolean
          default: true
          description: Whether this version is the active one
        createdBy:
          type: string
          format: email
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    FlagTargeting:
      type: object
      description: Geographic and user-level targeting configuration
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/CountryTarget'
          description: Country-level targeting rules
        forceIncludeUsers:
          type: array
          items:
            type: string
          description: User IDs that always receive valueA
        forceExcludeUsers:
          type: array
          items:
            type: string
          description: User IDs that always receive valueB

    CountryTarget:
      type: object
      required:
        - country
        - serveValue
      properties:
        country:
          type: string
          minLength: 2
          maxLength: 2
          description: ISO 3166-1 alpha-2 country code
        serveValue:
          type: string
          enum: [A, B]
        languages:
          type: array
          items:
            $ref: '#/components/schemas/LanguageTarget'
          description: Optional language-specific overrides within this country

    LanguageTarget:
      type: object
      required:
        - language
        - serveValue
      properties:
        language:
          type: string
          minLength: 2
          maxLength: 2
          description: ISO 639-1 language code
        serveValue:
          type: string
          enum: [A, B]

    Experiment:
      type: object
      description: A/B/n experiment with multiple variations and statistical analysis
      required:
        - platform
        - environment
        - experimentKey
        - name
        - status
        - variations
        - createdBy
        - createdAt
      properties:
        platform:
          type: string
        environment:
          type: string
        experimentKey:
          type: string
          description: Unique identifier
        name:
          type: string
        description:
          type: string
        hypothesis:
          type: string
          description: What you expect to learn
        status:
          type: string
          enum: [draft, running, paused, completed, archived]
        variations:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentVariation'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentMetric'
        targeting:
          $ref: '#/components/schemas/ExperimentTargeting'
        trafficAllocation:
          type: number
          minimum: 0
          maximum: 100
          description: Percentage of traffic included in experiment
        winningVariationKey:
          type: string
          description: Set when experiment is completed
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        createdBy:
          type: string
          format: email
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ExperimentVariation:
      type: object
      required:
        - key
        - name
        - weight
      properties:
        key:
          type: string
        name:
          type: string
        description:
          type: string
        weight:
          type: number
          minimum: 0
          maximum: 100
          description: Traffic percentage for this variation
        isControl:
          type: boolean
          default: false
        value:
          description: The value returned to clients
          oneOf:
            - type: boolean
            - type: string
            - type: number
            - type: object

    ExperimentMetric:
      type: object
      required:
        - key
        - name
        - metricType
      properties:
        key:
          type: string
        name:
          type: string
        metricType:
          type: string
          enum: [conversion, revenue, count]
        successDirection:
          type: string
          enum: [increase, decrease]
          default: increase
        isPrimary:
          type: boolean
          default: false

    ExperimentTargeting:
      type: object
      properties:
        countries:
          type: array
          items:
            type: object
            properties:
              country:
                type: string
              languages:
                type: array
                items:
                  type: object
                  properties:
                    language:
                      type: string
        forceIncludeUsers:
          type: array
          items:
            type: string
        forceExcludeUsers:
          type: array
          items:
            type: string

    CreateExperiment:
      type: object
      required:
        - experimentKey
        - name
        - variations
        - createdBy
      properties:
        experimentKey:
          type: string
        name:
          type: string
        description:
          type: string
        hypothesis:
          type: string
        variations:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentVariation'
          minItems: 2
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentMetric'
        targeting:
          $ref: '#/components/schemas/ExperimentTargeting'
        trafficAllocation:
          type: number
          minimum: 0
          maximum: 100
          default: 100
        createdBy:
          type: string
          format: email

    UpdateExperiment:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        hypothesis:
          type: string
        variations:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentVariation'
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentMetric'
        targeting:
          $ref: '#/components/schemas/ExperimentTargeting'
        trafficAllocation:
          type: number
          minimum: 0
          maximum: 100

    VariationAssignment:
      type: object
      required:
        - experimentKey
        - variationKey
        - inExperiment
      properties:
        experimentKey:
          type: string
        variationKey:
          type: string
        variationName:
          type: string
        value:
          description: The variation value
        inExperiment:
[...]
